@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);

#menu-a .navbar-toggler {
  color: #fff8e0;
}
#menu-a .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}


#content4-n P {
  text-align: left;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #0275d8;
}
#content4-n H4 {
  color: #a8d0ea;
}
#msg-box4-o .lead P {
  text-align: left;
}
#msg-box4-o .mbr-section-title {
  font-size: 30px;
}
#menu-a .navbar-toggler {
  color: #fff8e0;
}
#menu-a .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}


#menu-6 .navbar-toggler {
  color: #fff8e0;
}
#menu-6 .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#contacts3-p P {
  font-family: 'Open Sans', sans-serif;
}


#header1-0 H1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000;
  font-size: 60px;
}
#menu-6 .navbar-toggler {
  color: #fff8e0;
}
#menu-6 .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

#menu-13 .navbar-toggler {
  color: #fff8e0;
}
#menu-13 .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#content5-16 .mbr-section-title {
  color: #ffffff;
}

#menu-17 .navbar-toggler {
  color: #fff8e0;
}
#menu-17 .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#content5-1a .mbr-section-title {
  color: #ffffff;
}
